.back-link {

    margin: em(40) auto;
    text-align: center;
}

.todo {
    max-width: em(800);
    background-color: white;
    margin: 0 auto;
    color: $fontColorTodo;
    padding: em(30);
    border-radius: em(6);
    @include box-shadow;

    display: flex;

    &__menu {
        flex:  0 1 40%;
    }

    &__wrapper {
        flex:  0 1 60%;
    }
}

.todo__menu-item {
    margin-bottom: em(20);
    text-decoration: underline;

    &:last-child {
        margin: 0;
    }
}

.form {

    &__label {
        display: block;
        font-size: em($fzSmall);
        margin-bottom: em(2,$fzSmall);
    }

    &__input {
        
        &::placeholder {
            font-size: em($fzSmall);
        }
    }
}

.list {

    &__wrapper {
        margin-top: em(40);
    }

    &__heading {
        margin-bottom: em(20);
    }

    &__item {
        margin-bottom: em(20);
        padding-left: em(20);

        &--done {
            @extend .list__item;
            text-decoration: line-through;
        }

        & button {
            @include link-button();
            transform: rotate(45deg);
            float: right;

        }

    }
}